.HomePage{
    overflow: hidden;
}

.Season {
    width: 16vh;
    height: 16vh;
    background-color: #3498db; 
    border-radius: 50%; 
    position: fixed;
    bottom: 2.2vh;
    right: 2.2vh;
}

.City {
    width: 16vh;
    height: 16vh;
    background-color: #3498db; 
    border-radius: 50%; 
    position: fixed;
    left: 2.2vh;
    top: 2.2vh;
    z-index: 1;
}

.Chat{
    width: 34.05vh;
    height: 4.54vh;
    background-color: rgb(255, 123, 0); 
    position: fixed;
    border-radius: 0.56vh;
    bottom: 2.5vh;
    left: 2.27vh;
}