.HomePage{
    overflow: hidden;
}

.Season {
    width: 16vh;
    height: 16vh;
    background-color: #3498db; 
    border-radius: 50%; 
    position: fixed;
    bottom: 2.2vh;
    right: 2.2vh;
}

.City {
    width: 16vh;
    height: 16vh;
    background-color: #3498db; 
    border-radius: 50%; 
    position: fixed;
    left: 2.2vh;
    top: 2.2vh;
    z-index: 1;
}

.DataTimeGame{
    width: 7.94vh;
    height: 3.06vh;
    background-color: red; 
    position: fixed;
    border-radius: 0.56vh;
    bottom: 2.5vh;
    right: 2.2vh;
    z-index: 1;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(4, 6.81vh);
    grid-gap: 1.13vh;
    position: fixed;
    bottom: 3.97vh;
    right: 31.21vh;
}
  
.GridItem {
    width: 6.81vh;
    height: 6.81vh;
    background-color: #37dd5b; 
    border-radius: 0.56vh; 
}

.Minorcircle{
    width: 6.81vh;
    height: 6.81vh;
    background-color: purple;
    border-radius: 50%; 
    position: fixed;
    bottom: 1.13vh;
    right: 18.29vh;
}

.Minorcircle2{
    width: 6.81vh;
    height: 6.81vh;
    background-color: rgb(202, 148, 202);
    border-radius: 50%; 
    position: fixed;
    bottom: 9.53vh;
    right: 20vh;
}

.Minorcircle3{
    width: 6.81vh;
    height: 6.81vh;
    background-color: rgb(206, 33, 206);
    border-radius: 50%; 
    position: fixed;
    bottom: 17.02vh;
    right: 15.45vh;
}

.GridContainerResources {
    display: grid;
    grid-template-columns: repeat(1, 22.7vh);
    grid-gap: 0.56vh;
    position: fixed;
    top: 3.97vh;
    left: 15.32vh;
}

.GridItemResources{
    width: 28.37vh;
    height: 4.1vh;
    background-color: #37dd5b; 
    border-radius: 0.56vh; 
}

.GridContainerResources2 {
    display: grid;
    grid-template-columns: repeat(1, 22.7vh);
    grid-gap: 0.56vh;
    position: fixed;
    top: 3.97vh;
    left: 44.26vh;
}

.GridItemResources2{
    width: 22.7;
    height: 4.1vh;
    background-color: #31693d; 
    border-radius: 0.56vh; 
}

.GridContainerResources3 {
    display: grid;
    grid-template-columns: repeat(1, 22.70vh);
    grid-gap: 0.56vh;
    position: fixed;
    top: 3.97vh;
    left: 67.43vh;
}

.GridItemResources3 {
    width: 19.29vh;
    height: 4.1vh;
    background-color: #abd6b4; 
    border-radius: 0.56vh; 
}

.Chat{
    width: 34.05vh;
    height: 4.54vh;
    background-color: rgb(255, 123, 0); 
    position: fixed;
    border-radius: 0.56vh;
    bottom: 2.5vh;
    left: 2.27vh;
}